<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title" data-bind="text:location" />
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1 temperature">
                <span data-bind="text:currentTemperature"></span>
            </div>
            <div class="col-sm-4 weather">
                <img data-bind="attr:{src:forecast().forecasts[0].periods[0].symbolUrl}">
            </div>
            <div class="col-sm-5">
                <div class="info">
                    <p>Nedbør:</p>
                    <p data-bind="text:precipitation"></p>
                </div>
                <div class="info">
                    <p>Vind:</p>
                    <p data-bind="text:wind"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>-->
